VITE_WEB_URL=http://localhost:4178
VITE_DASHBOARD_URL=http://localhost:4177
VITE_API_URL=http://localhost:4180
VITE_CHROME_EXTENSION_URL=https://chromewebstore.google.com/search/FavLock
VITE_CHROME_EXTENSION_ID=

VITE_AUTH_URL=
VITE_CREEM_PRO_PRODUCT_URL=
